<!doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>デモアプリ</title>
    <link rel="stylesheet" media="all" href="../static/css/reset.css">
    <link rel="stylesheet" media="all" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>

<body style="max-width: 60%;">
    <header style="background:#ffca6e;padding:16px 0px;color: #ffffff;text-align: center;">
        <h1>デモアプリ</h1>
    </header>
    <h1 class="page_title" style="text-align: center; font-size:12px;margin:20px 0px;">ログイン</h1>
    <div class="flash_message">
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
    </div>
    <form action="{{url}}" method="post" class="form_for_login"
        style="display:flex;flex-direction:column;width:40%;margin:0 auto;">
        <p style="font-size:12px;">ID</p>
        <input type="text" name="user_id" style="padding:4px;margin-bottom:8px;">
        <p style="font-size:12px;">PASSWORD</p>
        <input type="password" name="password" style="padding:4px;margin-bottom:8px;">
        <input type="submit" value="送信" style="margin:0 auto;margin-top: 8px;width:50%;">
    </form>
</body>

</html>